.container-grid {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);
  gap: .3rem;
}



/* DRAGGABLE ZONE CSS */
.draggablezone-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .8rem;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
  padding: .8rem;
}

.draggablezone-container>.items {
  width: 100%;
  height: fit-content;
  padding: 5px 3px;
  border: 1px solid rgb(165, 165, 165);
  cursor: grab;
}


/* DROPPABLE ZONE CSS */
.droppable-zone>.droppable-items {
  border: 1px solid rgb(120, 120, 120);
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
}
